data/votes/
analyze/
app/static/word_clouds/*
.DS_Store
__pycache__/
app/__pycache__/
*.ipynb
pass-env/
*~
# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
