.navbar-inverse{
    border-radius: 0px;
    background-color: #000000;
}

.pre-scrollable{
    max-height: 600px;
}


.jumbotron{
    background-image: url("/static/img/capitol_buiding.jpg");
    background-size: cover;
}
