{% extends "layout.html" %}
{% block body %}
<div class="container-fluid">
  <div class="row">
    <div class="col-xs-12">
      <h2>Active Bills</h2>
      <p>There are {{ active_bills|length }} bills on the senate floor.</p>
    </div>
  </div>
</div>
<br>
<div class="container-fluid">
  <div class="row">
    <div class="col-xs-12">
      <div class="header">
	<h4>Bills</h4>
      </div>
      <div class="col-xs-12">
	<table class="table table-hover">
	  <tr>
	    <th>Bill ID
	    <th>Main Subject
	    <th>Predicted Votes (Yay/Nay)
	    <th>Passed
	  </tr>
	  {%- for row in active_bills %}
	  <tr onclick="document.location='/bill?bill_id={{row.bill_id}}'"
	      style="cursor: pointer">
	    <td>{{ row.bill_id }}</td>
	    <td>{{ row.top_subject }}</td>
	    <td>{{ row.votes_for }}/{{ row.votes_against }}</td>
	    {% if row.passed %}
	    <td><img src="/static/img/checkmark.png"
		     width="16px"></td>
	    {% else %}
	    <td><img src="/static/img/xmark.png"
		     width="16px"></td>
	    {% endif %}
	  </tr>
	  </a>
	  {%- endfor %}
	</table>
      </div>
    </div>
  </div>
</div>
{% endblock %}
