{% extends "layout.html" %}
{% block body %}

<body style="background-image:url('/static/img/capitol_at_dusk_small.jpg');">
  <div class="jumbotron" style="background: rgba(255, 255, 255, 0.75);">
    <div class="container-fluid">
      <div class="row">
	<div class="col-xs-12">
	  <h2>Contact Details</h2>
	  <br>
	  <h3>Michael Yen</h3>
	  <br>
	  <a style="color=black;"href="mailto:michael.yen@mg.thedataincubator.com?Subject=SeeYourSenate%20Inquiry">
	    <h3><img src="/static/img/envelope.png" width="32px">
	      michael.yen@mg.thedataincubator.com</h3></a>
	  <br>
	  <a href="https://github.com/mike-a-yen">
	    <h3><img src="/static/img/github.png" width="32px">
	      mike-a-yen</h3></a>
	  <br>
	  <a href="https://www.hackerrank.com/mike_a_yen">
	    <h3><img src="/static/img/code.png" width="32px">
	      mike_a_yen</h3></a>
	  
	</div>
      </div>
    </div>
  </div>
  
</body>
{% endblock %}
