{% extends "layout.html" %}
{% block body %}
<div class="container-fluid">
  <h2>Welcome to Will It Pass</h2>
  <div class="col-xs-6">
    Data provided by
    <a href="https://www.govtrack.us/developers/data">govtrack</a>.
    <br>
    Congressional voting data is downloadable
    <a href="https://www.govtrack.us/data/congress/">here</a>.
    <br>
    <br>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <h4>About</h4>
      <p>Will It Pass has built a model that predicts the probability of a bill
      passing through congress. We model the voting behavior of each
      congressman from the text contained inside the bill, and with this
      information determine the probability of the bill being passed into
      law. Preliminary evidence has shown that Will It Pass can predict the
      outcome of each bill with 80% accuracy. That is 8 out of 10 times Will It
	Pass correctly determines if the bill passes or fails.</p>
      <p>This information can be used to see if your representative is likely to
      vote for bills you care about. </p>
      <h4>Preliminary Analysis</h4>
      <p>The following analysis was done by studying the voting habits of
      Senator Barbara Boxer (CA-D) over the last 16 years. In total, she
      participated in over 5,000 votes, with an approximately 50-50 split between
      "Yay" and "Nay" votes. By vectorizing the text in the headers of each
      bill, I was able to build a model that predicted Boxer's voting behavior
	with 70% accuracy, which is an improvement over random guessing.
	If I build a similar model for all other senators, retaining the 70%
      accuracy, I will be able to correctly predict wether or not a bill will
      pass the senate with an accuracy of 80%. 
      </p>  
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-xs-6">
      <div class="header">
	<h4>Congressional Bill Clusters</h4>
      </div>
      {{ cluster_plot|safe }}
      <p><small>Try the pan and zoom tools</small></p>
      <p>Bills are clustered together by use of similar vocabulary.
	Bills that mention similar things are grouped together. For
	example, bills that
	mention education are in a different group than bills that mention
	terrorism. The body of text used to identify each bill was taken from
	the each bill's title. This could be improved if the body of each bill
	was used rather than just the title.
	<br>
	Large dots are "Yay" votes and smaller dots are "Nay" votes,
	and from this visualization you can see Boxer has a tendency to vote
	"Yay" for all bills in some clusters and "Nay" for bills in other
	clusters.</p>
      <p>
	The fact that Boxer has a pattern of voting for or against bills with
	certain content, allows for a model to be built to predict her voting behavior.
	</p>
    </div>
    
    <div class="col-xs-6">
      <div class="header">
	<h4>Correct Prediction Probability</h4>
      </div>
      {{ stats_plot|safe }}
      <!--      <img src="/static/img/model_performance.png"
	   width="480"
	   height="400">
-->
      <p><small>This model will correctly predict the
      "pass" or "no pass" outcome with 80% accuracy.</small></p>
      <p>The voting behavior of the senate as a whole can be predicted by the
	voting behavior of individual senators. This representation can be
	more accurate than random if the individual predictive models for each
	senator are more accurate than 50%. This increased accuracy allows better predictions to be made on
	the outcomes of individual bills. 
	Building 100 individual
	models that can predict the voting behavior of each
	senator with an accuracy of 70% or greater, will correctly determine
	whether or not the bill passes with an accuracy of at least 80%. 
      </p>
      <p> This means when fully built, this model will correctly predict the
      "pass" or "no pass" outcome of future laws with an accuracy of 80%.
    </div>
  </div>
</div>
{% endblock %}
