{% extends "layout.html" %}
{% block body %}
<div class="container-fluid">
  <h2>Welcome to Will It Pass</h2>
  <div class="col-xs-6">
    Data provided by the
    <a href="https://www.govtrack.us/developers/data">govtrack</a>.
    <br>
    Congressional voting data is downloadable
    <a href="https://www.govtrack.us/data/congress/">here</a>.
    <br>
    <br>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <h4>About</h4>
      <p>The following analysis was done by studying the voting habits of
      Senator Barbara Boxer (CA-D) over the last 16 years. In total, she
      participated in over 5,000 votes, with an approximately 50-50 split between
      "Yay" and "Nay" votes. By vectorizing the text in the headers of each
      bill, I was able to build a model that predicted Boxer's voting behavior
	with 70% accuracy, which is an improvement over random guessing.
	If I build a similar model for all other senators, retaining the 70%
      accuracy, I will be able to correctly predict wether or not a bill will
      pass the senate with an accuracy of 80%. 
      </p>  
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-xs-6">
      <div class="header">
	<h4>Congressional Bill Clusters</h4>
      </div>
      {{ cluster_plot|safe }}
      <p>Try the panning tools</p>
      <br>
      <p>Bills are clustered together by use of similar vocabulary. Bills that
      mention similar things are grouped together, for example bills that
      mention education are in a different group than bills that mention
	terrorism.
	<br>
	Large dots are "Yay" votes and smaller dots are "Nay" votes,
	and from this visualization you can see Boxer has a tendency to vote
	"Yay" for all bills in some clusters.</p>
    </div>
    
    <div class="col-xs-6">
      <div class="header">
	<h4>Correct Prediction Probability</h4>
      </div>
      <img src="/static/img/model_performance2.png"
	   width="480"
	   height="400">
    </div>
  </div>
</div>
{% endblock %}
