{% extends "layout.html" %}
{% block body %}

<body style="background-image:url('/static/img/capitol_building_small.jpg');">
  <div class="jumbotron" style="background: rgba(255, 255, 255, 0.6);">
    <div class="container-fluid">
      <div class="row">
	<div class="col-xs-12">
	  <h2>Congressional Bill Predictions</h2>
	  <br>
	  <h4 style="display:inline;color:rgb(0,0,0)"><q>Whenever people are well-informed they can be trusted with
	      their own government.</q></h3>
	  <h4>-Thomas Jefferson</h4>
	</div>
      </div>
    </div>
  </div>

  <div class="container-fluid">
    <div class="row">
      <div class="col-xs-12">
	<div class="col-xs-4">
	  <a href="/senator">
	  <div class="thumbnail"
	       style="background: rgba(255, 255, 255,
		      0.6);border:0px none;
		      min-height:300px;
		      min-width:300px">
	    <br>
	    <img src="/static/img/users.png" width="96px">
	    <div class="caption">
	       <p>Quickly understand the voting history of each
	      U.S. senator. You will get a high level summary of what kinds of
		 topics and ideas each senator votes for and against.</p>
	       <p>See which topics your representatives are voting for.</p>
	    </div>
	    <p style="text-align:center;">
	      <button type="button" class="btn btn-primary btn-lg btn-block"
		      style="verticle-align:bottom;">
		View Senators</button>
	    </p>
	  </div>
	  </a>
	</div>
	
	<div class="col-xs-4">
	  <a href="/active">
	    <div class="thumbnail"
		 style="background: rgba(255, 255, 255, 0.6);
			border:0px none;
			min-height:300px;
			min-width:300px">
	      <br>
	      <img src="/static/img/book.png" width="96px">
	      <div class="caption">
		<p>We understand the voting patterns of each U.S. senator and
		  make predictions of their vote on active legislation. Our models
		  are 70% accurate for each senator and 80% accurate for the entire
		  Senate.</p>
		<p>See which bills are likely to become law.</p>
	      </div>
	      <p style="text-align:center">
		<button type="button" class="btn btn-primary btn-lg btn-block"
			style="verticle-align:bottom;">
		  View Active Bills</button>
	      </p>
	    </div>
	  </a>
	</div>
	
	
	<div class="col-xs-4">
	  <a href="/groups">
	    <div class="thumbnail"
		 style="background: rgba(255, 255, 255, 0.6);
			border:0px none;
			min-height:300px;
			min-width:300px">
	      <br>
	      <img src="/static/img/hourglass-half.png" width="96px">
	      <div class="caption">
		<p>Senators do not always cast their vote in isolation, their votes can
		  be influenced by their colleagues. Finding the most influential
		  groups of senators will help illuminate some of the internal
		  politics that occurs outside of the public eye.</p>
		<p>Find the most powerful group of senators.</p>
	      </div>
	      <p style="text-align:center">
		<button type="button" class="btn btn-primary btn-lg btn-block"
			style="verticle-align:bottom;">
		  Future Work</button>
	      </p>
	    </div>
	  </a>
	</div>
      </div>
    </div>
  </div>
</body>
{% endblock %}
