<!doctype html>
<link rel="shortcut icon" href="/static/favicon.ico">
<title>SYS -- See Your Senate</title>
<meta name="viewport" content="initial-scale=1.0, user-scalable=no">
<meta charset="utf-8">
<style>
  body {
  padding-top: 60px;
  padding-bottom: 100px;
  }
</style>
<link href="/static/css/bootstrap.css" rel="stylesheet">
<link href="/static/css/custom.css" rel="stylesheet">

<script src="/static/js/jquery.js"></script>
<script src="/static/js/bootstrap.js"></script>

<nav class="navbar navbar-fixed-top navbar-inverse">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed"
              data-toggle="collapse"
	      data-target="#bs-example-navbar-collapse-1"
	      aria-expanded="false">
	<span class="sr-only">Toggle navigation</span>
	<span class="icon-bar"></span>
	<span class="icon-bar"></span>
	<span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/" style="font-size: 24px">See Your Senate</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
	<li><a href="/" style="font-size: 16px">Home<span class="sr-only">(current)</span></a></li>
	<li><a href="/senator" style="font-size: 16px">Senators</a></li>
	<li><a href="/active" style="font-size: 16px">Active Bills</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
	
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>


{%- for category, message in get_flashed_messages(with_categories=true) %}
<div class="container">
  <p class="flask {{ category }}-flash" style="color:red;">{{
    "Error: " if category == 'error' }}{{ message }}</p>
  {%- endfor %}
</div>

<div id="main" class="container">
    {% block body %}{% endblock %}
  <hr>
  <footer id="footer">
    <div class="row">
      <div class="col-xs-4">
	<p>built by</p>
	<p style="font-size:16px;">
	  Michael Yen - Data Incubator Fellow</p>
	<br>
	<a target="_blank" href="https://www.linkedin.com/pub/michael-yen/10a/553/674">
	    <img src="https://static.licdn.com/scds/common/u/img/webpromo/btn_viewmy_160x33.png"
		 width="160" height="33"
		 border="0"
		 alt="View Michael Yen's profile on LinkedIn">
	  </a>

      </div>
      <div class="col-xs-8 text-right">
	<p class="text-right">Data provided by
	<a href="https://www.govtrack.us/developers/data">govtrack</a>.</p>
	<p class="text-right">Congressional voting data is downloadable
	<a href="https://www.govtrack.us/data/congress/">here</a>.</p>
	<br>
      </div>
  </footer>
</div>
