<!DOCTYPE html>
<html>
  <body>

    <h3>foodyfriend - Registration</h3>
    <hr/>

          {%- for category, message in get_flashed_messages(with_categories =
    true) %}
    <div class = "alert alert-danger">
      {{ message }}
    </div>
    {%- endfor %}

    <form action = "{{ request.path }}" method = "post">
      <label for = "name">Name</label><br>
      <input type = "text" name = "name" placeholder = "Name" /><br>
      <label for = "email">Email</label><br>
      <input type = "text" name = "email" placeholder = "email" /><br>

      <input type = "submit" value = "Submit" />
    </form>

  </body>
  </html>
