{% extends "layout.html" %}
{% block body %}
<div class="container-fluid">
  <h2>Senator Summary</h2>
</div>

<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <h4>About</h4>
      <p>Congress votes on about one new bill everyday.
	Keeping track of what your representative votes
	for and against is a daunting task, and it is
	even harder to determine if your senator is voting
	in the way you would vote.</p>
      <p>Will It Pass keeps track of the voting history of
	each senator and highlights the important words in
	the bills voted for and against. This way you can
	get a quick summary of the voting behavior of your
	representative.</p>
    </div>
  </div>
</div>


<div class="container-fluid">
  <div class="row">
    <div class="col-xs-12">
      <div class="header">
        <h3>Vote History</h3>
      </div>
      <form class="form-inline" action="/senator" method="POST">
	<div class="form-group">
	  <label for="sel1">Select a senator:</label>
	  <select class="form-control input-small" id="sel1" name="senator">
	    <option value="" selected disabled>Please select</option>
	    {%- for senator in senators %}
	    <option value="{{ senator }}">{{ senator }}</option>
	    {% endfor %}
	  </select>
	</div>
	<button type="submit" class="btn btn-primary">Submit</button>
      </form>
    </div>
  </div>
</div>

<br>

<div class="container-fluid">
  <div class="row">
    <div class="col-xs-12">
      <div class="header">
	<h4>{{ first_name }} {{ last_name }} ({{ state }}-{{ party }})</h4>
      </div>
      <div class="col-xs-6">
	<div class="header text-center">
	  <h4>"Yay"</h4>
	</div>
	<img src="{{ yay_cloud }}"
	     class="img-responsive" alt="Vote 'Yay' Words">
	<p>Key words extracted from the "Yay"
	  votes of senator {{ last_name }}.
	  These words were frequently mentioned
	  in bills {{ last_name }} voted in favor of.</p>
      </div>    
      <div class="col-xs-6">
	<div class="header text-center">
	  <h4>"Nay"</h4>
	</div>
	<img src="{{ nay_cloud }}"
	     class="img-responsive" alt="Vote 'Nay' Words">
	<p>Key words extracted from the "Nay"
	  votes of senator {{ last_name }}.
	  These words were frequently mentioned
	  in bills {{ last_name }} voted against.</p>
      </div>
    </div>
  </div>
</div>
{% endblock %}
