{% extends "layout.html" %}
{% block body %}
<div class="container-fluid">
  <h2>Senator Voting Summary</h2>
</div>

<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <p>Congress votes on about one new bill every day.
	Keeping track of what your represenative votes
	for and against is a daunting task, and it is
	even harder to determine if your senator is voting
	in the way you would vote.</p>
      <p>SYS keeps track of the voting history of
	each senator and highlights the important words in
	the bills voted for and against. This way you can
	get a quick summary of the voting behavior of your
	representative.</p>
    </div>
  </div>
</div>

<br>

<div class="container-fluid">
  <div class="row">
    <div class="col-xs-12">
      <div class="header">
	<h3>{{ first_name }} {{ last_name }} ({{ state }}-{{ party }})</h3>
      </div>
      <br>
      <form class="form-inline" action="/senator" method="POST">
	<div class="form-group">
	  <label for="sel1">Select a senator:</label>
	  <select class="custom-select" id="sel1" name="senator">
	    <option value="" selected disabled>Please select</option>
	    {%- for senator in senators %}
	    <option value="{{ senator }}">{{ senator }}</option>
	    {% endfor %}
	  </select>
	</div>
	<button type="submit" class="btn btn-primary">Submit</button>
      </form>
    </div>
  </div>
<br>
  <div class="row">
    <div class="col-xs-6">
      <div class="header text-center">
      </div>
      {{ yay_cloud | safe }}
      <!--
      <img src="{{ yay_cloud }}"
	   class="img-responsive" alt="Vote 'Yay' Words">
      -->
    </div>
    <div class="col-xs-6">
      <div class="header text-center">
      </div>
      {{ nay_cloud | safe }}
      <!--
      <img src="{{ nay_cloud }}"
	   class="img-responsive" alt="Vote 'Nay' Words">
      -->
    </div>
  </div>
</div>

<div class="container-fluid">
  <div class="row">
    <div class="col-xs-12">
      <div class="table-responsive pre-scrollable">
	<table class="table table-hover table-striped">
	  <thead>
	    <tr>
	      <th>Subject
	      <th>Yay votes
	      <th>Nay votes
	      <th>Times voted
	      <th>In favor
	    </tr>
	  </thead>
	  <tbody>
	    {%- for row in subjects %}
	    <tr onclick="document.location='/subject_view/{{row.subject}}/{{memid}}'"
	      style="cursor: pointer">
	      <td>{{ row.subject }}
	      <td>{{ row.for_vote }}
	      <td>{{ row.against_vote }}
	      <td>{{ row.count }}
		{% if row.for_vote>row.against_vote %}
	      <td><img src="/static/img/green-thumb.png" width="16px">
		{% elif row.against_vote>row.for_vote%}
	      <td><img src="/static/img/red-thumb.png" width="16px">
		{% else %}
	      <td>
		{% endif %}
	    </tr>
		{%- endfor %}
	  </tbody>
	</table>
      </div>
    </div>
  </div>
</div>
{% endblock %}
